@import "tailwindcss";
@import "tw-animate-css";
@import "leaflet/dist/leaflet.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #fdeada;
  --foreground: #581f02;
  --card: #ffffff; /* Card branco para se destacar do fundo */
  --card-foreground: #581f02;
  --popover: #ffffff;
  --popover-foreground: #581f02;
  --primary: #f99100;
  --primary-foreground: #581f02; /* Texto escuro para contraste no laranja */
  --secondary: #843c0c;
  --secondary-foreground: #fdeada;
  --muted: #f9e2c8; /* Um tom mais sutil para elementos mudos */
  --muted-foreground: #843c0c;
  --accent: #fff5e8;
  --accent-foreground: #843c0c;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #f9e2c8;
  --input: #f9e2c8;
  --ring: #f99100;
  --chart-1: #f99100;
  --chart-2: #843c0c;
  --chart-3: #581f02;
  --chart-4: #fbbf24;
  --chart-5: #d97706;
  --sidebar: #fdeada;
  --sidebar-foreground: #581f02;
  --sidebar-primary: #f99100;
  --sidebar-primary-foreground: #581f02;
  --sidebar-accent: #843c0c;
  --sidebar-accent-foreground: #fdeada;
  --sidebar-border: #843c0c;
  --sidebar-ring: #f99100;
}

.dark {
  --background: #581f02;
  --foreground: #fdeada;
  --card: #843c0c; /* Marrom mais claro para o card */
  --card-foreground: #fdeada;
  --popover: #843c0c;
  --popover-foreground: #fdeada;
  --primary: #f99100;
  --primary-foreground: #581f02;
  --secondary: #fdeada;
  --secondary-foreground: #581f02; /* Contraste ruim, mas melhor opção da paleta */
  --muted: #581f02;
  --muted-foreground: #eaddc7;
  --accent: #581f02;
  --accent-foreground: #fdeada;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #a45c2c; /* Borda sutil para os cards */
  --input: #a45c2c;
  --ring: #f99100;
  --chart-1: #f99100;
  --chart-2: #fdeada;
  --chart-3: #fbbf24;
  --chart-4: #f59e0b;
  --chart-5: #d97706;
  --sidebar: #581f02;
  --sidebar-foreground: #fdeada;
  --sidebar-primary: #f99100;
  --sidebar-primary-foreground: #581f02;
  --sidebar-accent: #843c0c;
  --sidebar-accent-foreground: #fdeada;
  --sidebar-border: #fdeada;
  --sidebar-ring: #f99100;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
